

@media screen and (max-width:420px) {
    
    
    body{display: flex;

        margin-top: 20px;
        margin: 15px 15px;
    }

   
    .container {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height:min-content;
        
    }
    .box2{
        display: flex;
     /* width: 30px; */
    width: 271px; 
    flex-direction:column;
    background-color: white; 
  
    text-align: left;
    }



    .price2{display: flex;
        font-family: 'Montserrat', sans-serif;
        color: hsl(158, 36%, 37%);
        font-weight:normal;
        margin-right: 100px;
        margin-bottom: 0;
        margin-top: 0;
        
        }
    
    .box2 p h2{
        display: flex;
       
    }

        
    }

   
